FRONTEND_IP=127.0.0.1
FRONTEND_PORT=1660

SEQUENCER_IP=127.0.0.1
SEQUENCER_PORT=1661

INSTANCE1_IP=127.0.0.1
INSTANCE1_COMP_PORT=2000
INSTANCE1_SOEN_PORT=2001
INSTANCE1_INSE_PORT=2002

INSTANCE2_IP=127.0.0.1
INSTANCE2_COMP_PORT=3006
INSTANCE2_SOEN_PORT=3007
INSTANCE2_INSE_PORT=3008

INSTANCE3_IP=127.0.0.1
INSTANCE3_COMP_PORT=4000
INSTANCE3_SOEN_PORT=4001
INSTANCE3_INSE_PORT=4002

INSTANCE4_IP=127.0.0.1
INSTANCE4_COMP_PORT=5000
INSTANCE4_SOEN_PORT=5001
INSTANCE4_INSE_PORT=5002


RM1_IP = 127.0.0.1
RM1_PORT = 6000

RM2_IP = 127.0.0.1
RM2_PORT = 7000

RM3_IP = 127.0.0.1
RM3_PORT = 8000

RM4_IP = 127.0.0.1
RM4_PORT = 9000